*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: wheat;
}
h1 {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
}
.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
}